<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section layout:fragment="corpo">

		<section class="layout-content">

			<div class="container" id="listagem">
				<nav
					class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 border-b border-gray-200 pb-5 mb-8">
					<div class="flex items-center gap-2 text-gray-500">
						<i class="oi oi-caret-right text-xs"></i>
						<h1 class="text-xl font-semibold text-gray-900">Lista de Departamentos</h1>
					</div>
					<a class="inline-flex items-center gap-2 bg-indigo-600 rounded-lg px-4 py-2 text-sm font-medium text-white shadow-xs hover:bg-indigo-700 transition"
						href="/departamentos/cadastrar" role="button">
						<span class="oi oi-plus" aria-hidden="true"></span>
						<span>Novo Departamento</span>
					</a>
				</nav>
				<div th:replace="fragments/alert">alert</div>
			</div>


			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody class="text-gray-700">
						<tr th:each="d: ${departamentos}">
							<td th:text="${d.id}" class="p-3">123...</td>
							<td th:text="${d.name}" class="p-3">Nome do departamento</td>
							<td colspan="2" class="flex items-center justify-center gap-1">
								<a class="flex items-center justify-center text-sm text-gray-900 bg-gray-300 cursor-pointer px-2 py-1 rounded-md hover:text-white/90 hover:bg-gray-600 transition-all"
									th:href="@{/departamentos/editar/{id} (id=${d.id})}" role="button">
									<span class="oi oi-brush" title="Editar" aria-hidden="true">Editar</span>
								</a>
								<button type="button"
									th:attr="data-delete-url=@{/departamentos/excluir/{id}(id=${d.id})}"
									class="rounded-md bg-red-500 px-2 py-1 text-sm font-semibold text-white hover:text-white/20 hover:bg-red-600 transition-all"
								>Excluir</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</section>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>

</html>